::selection {
  background: $selection-bg;
  color: $white;
  text-shadow: $no;
}

body {
  @extend %font-smoothing;
  background: $white;
  color: $text-gray;
  font-size: $primary-font-size;
  font-weight: $primary-font-weight;
  line-height: $primary-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
p {
  margin: 0;
  padding: 0;
}
